<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{msgs.loginWindowTitle}</title>
    </h:head>

    <h:body style="background: #fefeef">
        <h:form>
            <h3>#{msgs.loginHeading}</h3>
            <h:panelGrid columns="2">

                #{msgs.namePrompt}
                <h:panelGroup>
                    <h:inputText value="#{user.name}" id="name"
                                 validator="#{user.validateName}">
                        <f:ajax event="blur" render="nameError"/>
                    </h:inputText>

           <!-- <h:message id="nameError" for="name" style="color: red"/>-->
                </h:panelGroup>

                #{msgs.passwordPrompt}
                <h:inputSecret value="#{user.password}" id="password" size="8"/>

                <h:commandButton value="#{msgs.loginButtonText}"
                                 action="welcome"/>

            </h:panelGrid>
            <h:messages id="nameError" for="name" style="color: red"/>
        </h:form>
    </h:body>
</html>