<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <title>#{msgs.loginWindowTitle}</title>
    </h:head>

    <h:body style="background: #fefeef">
        <h:form>
            <h3>#{msgs.greeting} #{user.name}!</h3>
            <h:commandButton value="#{msgs.backButtonText}"
                             action="index"/>

        </h:form>
    </h:body>
</html>